<%= form_with(model: pacss, local: true) do |form| %>
  <% if pacss.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pacss.errors.count, "error") %> prohibited this pacss from being saved:</h2>

      <ul>
      <% pacss.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.text_field :pacs_id, id: :pacss_pacs_id, placeholder: "PACS ID", maxlength: "12" %>
  </div>
  
  <div class="field">
    <%= form.select :banka, options_for_select([['HGAA1'], ['HGAA2'], ['HGAA3'], ['HGAA4']], pacss.banka) %>
  </div>

  <div class="field">
    <%= form.text_field :title, id: :pacss_title, placeholder: "Naslov", size: pacss.title ?  pacss.title.length : "50" %>
  </div>

  <div class="field">
    <%= form.text_field :owner, id: :pacss_owner, placeholder: "Otvorio", size: pacss.owner ? pacss.owner.length : "50" %>
  </div>

  <div class="field">
    <%= form.text_field :ppmc, id: :pacss_ppmc, placeholder: "PPMC", maxlength: "5" %>
  </div>

  <div class="field">
    <%= form.select :status, options_for_select([['Closure reminder'], ['Pending Client Confirmation'], ['Closed'], ['New issue logged into RTC support system'], ['Open'], ['WithCustomer'], ['Maintenance']], pacss.status || ['New issue logged into RTC support system']) %>
  </div>
  
  <div class="field">
    <%= form.text_field :connected, id: :pacss_connected, placeholder: "Povezan sa..." %>
  </div>

  <div class="field">
    <%= form.text_field :routines, id: :pacss_routines, placeholder: "Rutine" %>
  </div>
  
  <div class="field">
    <%= form.date_select :last_updated, start_year: (pacss.created_at.blank? ? Time.now.year : pacss.created_at.year), end_year: Time.now.year, id: :pacss_last_updated %>
  </div>

  <div class="actions">
    <%= form.submit "Sačuvaj" %>
  </div>
<% end %>
