<div style="float: right; border: 3px solid #ddd; border-radius: 10px; background-color: #a0a0a0; margin: 20px; max-width: 1200px; padding: 10px">

<% Comment.all.order(updated_at: :desc).first(5).each do |comm| %>
<div><%= link_to @pacsses.find(comm.pacss_id).pacs_id, @pacsses.find(comm.pacss_id) %><br><%= comm.updated_at.strftime("%d.%m---%H:%M") %></div>
<div class='comment'><%= comm.body[0..140] + '...' %></div>
<br><br>
<% end %>
</div>