<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
  <%= link_to "PAKSOVI", root_path, class: "navbar-brand" %>
  <% if logged_in? %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <%= link_to 'Novi PACS', new_pacss_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'PACSovi koji još nisu zatvoreni', root_path(status: 'Samo_otvoreni'), class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'PACSovi koji čekaju DXC', root_path(status: 'DXC'), class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Izloguj se', logout_path, method: :delete, class: "btn btn-outline-danger" %>
        </li>
      </ul>
  
        <%= form_tag(root_path, method: 'get', class: 'form-inline my-2 my-lg-0') do %>
          <%= search_field_tag :search, params[:search], class: "form-control mr-sm-2", type: "search", placeholder: "Pretraži PACSove" %>
          <%= submit_tag "Pretraži PACSove", :name => nil, class: "btn btn-success my-2 my-sm-0" %>
        <% end %>
      <% else %>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <%= link_to 'PACSovi koji još nisu zatvoreni', root_path(status: 'Samo_otvoreni'), class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to 'PACSovi koji čekaju DXC', root_path(status: 'DXC'), class: "nav-link" %>
          </li>
        </ul>
        <%= form_for(:session, :html => { class: "form-inline my-2 my-lg-0 ml-auto", role: "form"}, url: login_path) do |f|%>
          <%= f.text_field :username, class: "form-control mr-sm-2", placeholder: "Ime"  %>
          <%= f.password_field :password, class: "form-control mr-sm-2", placeholder: "Šifra" %>
          <%= f.submit "Prijavi se", :name => nil, class: "btn btn-success my-2 my-sm-0" %>
        <% end %>
    </div>
  <% end %>
</nav>