<div class="row mt-2 ml-5 mr-5 <%= pacss.status == 'Closed' ? 'Closed' : 'Open' %>">
    <div class="col-1"><%= pacss.banka %></div>
    <div class="col-1"><%= link_to pacss.pacs_id,pacss, class: pacss.status == 'Closed' ? '' : 'badge badge-pill badge-dark' %></div>
    <div class="col"><%= pacss.title %> (<%= pacss.comments.count - 1%>)</div>
    <div class="col-2"><%= pacss.owner.split(',')[1] %> <%= pacss.owner.split(',')[0] %></div>
    <div class="col-1"><%= pacss.status %></div>
    <div class="col-1"><%= time_ago_in_words(pacss.updated_at) %></div>
</div>
<div class="row mt-1 ml-5 mr-5">
    <div class="col-1"></div>
    <div class="col-1"></div>
    <div class="col">
        <% if params[:search] %>
            <% begin %>
                <% komentar = pacss.comments.search(params[:search]).last.body.gsub(/#{params[:search]}/i, '<mark>' + params[:search] + '</mark>') %>
                <%=raw komentar %>
            <% rescue %>
                <% begin %>
                    <%= pacss.comments.last.body %>
                <% rescue %>
                <% end %>
            <% end %>
        <% else %>
            <% if pacss.status != 'Closed' %>
            <% begin %>
                <%= pacss.comments.last.body[0...200] %><%= pacss.comments.last.body.length > 200 ? '...' : '' %>
            <% rescue %>
            <% end %>
            <% end %>
        <% end %>
</div>
<div class="col-2"></div>
<div class="col-1"></div>
<div class="col-1"></div>
</div>
<% if pacss.status != 'Closed' %>
<div class="row mt-1 ml-5 mr-5">
    <div class="col-1"></div>
    <div class="col-1"></div>
    <table>
      <tr style="height: 5em; border-top: 2px solid black; border-bottom: 2px solid black;">
        <% Stanje.where(pacss_id: pacss.id).order(:created_at).each do |s| %>
          <td style="<%= ['Open', 'New issue logged into RTC support system','Maintenance'].include?(s.stanje) ? 'vertical-align:bottom;' : (s.stanje != 'WithCustomer' ? 'vertical-align:top;color:green;' : 'color:red;') %>">
            <% if ['Open', 'New issue logged into RTC support system','Maintenance'].include?(s.stanje) %>
              &#10686;
            <% elsif s.stanje == 'WithCustomer' %>
              &#8226;
            <% else %>
              &#10687;
            <% end %>
            <br><%= s.created_at.strftime("%d.%m.") %>
          </td>
        <% end %>
      </tr>
    </table>
</div>
<% end %>
    <!--<% if pacss.status == "Closed" %>-->
    <!--    <tr class="Closed">-->
    <!--<% else %>-->
    <!--    <tr class="Open">-->
    <!--<% end %>-->
    <!--<td><%= pacss.banka %></td>-->
    <!--<td><%= link_to pacss.pacs_id,pacss %></td>-->
    <!--<td><%= pacss.title %> (<%= pacss.comments.count - 1%>)</td>-->
    <!--<td><%= pacss.owner %></td>-->
    <!--<td><%= pacss.status %></td>-->
    <!--<td><%= time_ago_in_words(pacss.updated_at) %></td>-->
    <!--</tr>-->
    <!--<tr>-->
    <!--<td></td><td></td>-->
    <!--<td class="comment">-->
    <!--<% if params[:search] %>-->
    <!--    <% begin %>-->
    <!--        <% komentar = pacss.comments.search(params[:search]).last.body.gsub(/#{params[:search]}/i, '<mark>' + params[:search] + '</mark>') %>-->
    <!--        <%=raw komentar %>-->
    <!--    <% rescue %>-->
    <!--        <% begin %>-->
    <!--            <%= pacss.comments.last.body %>-->
    <!--        <% rescue %>-->
    <!--        <% end %>-->
    <!--    <% end %>-->
    <!--<% else %>-->
    <!--    <% if pacss.status != 'Closed' %>-->
    <!--    <% begin %>-->
    <!--        <%= pacss.comments.last.body %>-->
    <!--    <% rescue %>-->
    <!--    <% end %>-->
    <!--    <% end %>-->
    <!--<% end %>-->
    <!--</td>-->
    <!--</tr>-->
    <!--<% if pacss.routines %>-->
    <!--    <% pacss.routines.split(",").each do |rutina| %>-->
    <!--    <tr>-->
    <!--    <td></td><td></td><td><span class="rutina"><%= rutina.strip %></span></td>-->
    <!--    </tr>-->
    <!--    <% end %>-->
    <!--<% end %>-->