<div class="pl-3 pr-3" style="width: 35em; margin-left: 5px;font-size: 12px; background-color: #333; color: #fff;">
  <% owners = Hash.new %>
  <% owners.default = 0 %>
  <% still_open = Hash.new %>
  <% still_open.default = 0 %>
  <% ukupno = 0 %>
  <% otvoreni = 0 %>
  <% Pacss.order(owner: :asc).each do |pacss| %>
    <% owners[pacss.owner] += 1 %>
    <% ukupno = ukupno+1 %>
    <% if pacss.status != 'Closed' %>
      <% still_open[pacss.owner] += 1 %>
      <% otvoreni = otvoreni + 1 %>
    <% end %>
  <% end %>

<br>
  
<% still_open.sort_by {|k,v| v}.reverse.each do |owner, tickets| %>
  <div class="owner_open">
    <%= link_to owner.to_s, root_path(:by => owner.to_s) %>
    <%= "_"*(40-owner.to_s.length) + tickets.to_s  + "/" + owners[owner].to_s %>
  </div>
<%end%>

<hr style="border: 1px solid white;">
<p class="owner text-right">Ukupno: <%= otvoreni %>/<%= ukupno %></p>
<hr style="border: 1px solid white;">
<div align="center" class="pb-2">
  <%= "HGAA1: " + Pacss.where(banka: "HGAA1").where.not(status: "Closed").count.to_s + "/" + Pacss.where(banka: "HGAA1").count.to_s + " | HGAA2: " + Pacss.where(banka: "HGAA2").where.not(status: "Closed").count.to_s + "/" + Pacss.where(banka: "HGAA2").count.to_s + " | HGAA3: " + Pacss.where(banka: "HGAA3").where.not(status: "Closed").count.to_s + "/" + Pacss.where(banka: "HGAA3").count.to_s + " | HGAA4: " + Pacss.where(banka: "HGAA4").where.not(status: "Closed").count.to_s + "/" + Pacss.where(banka: "HGAA4").count.to_s %>
</div>

</div>

