<% if logged_in? %>

<% provide :title, "Edit " + @pacss.pacs_id %>

<h1>Izmeni PACS</h1>

<%= render 'form', pacss: @pacss %>

<!--<%= link_to 'Show', @pacss %> |-->
<%= link_to 'Nazad', @pacss %>
<% end %>