<p id="notice"><%= notice %></p>

<br>

<% provide :title, "Paksovi"%>

<% if !params[:by] and !params[:search] %>
  <%= render 'stats' %>
<% end %>

<% #if logged_in? %>




  <div class="mt-3 ml-5 mr-5 row bg-dark text-white">
    <div class="col-1">Bank</div>
    <div class="col-1">PACS ID</div>
    <div class="col">Title</div>
    <div class="col-2">Owner</div>
    <div class="col-1">Status</div>
    <div class="col-1">Update</div>
  </div>

    <% if params[:search] %>
      <h1>&nbsp;&nbsp;&nbsp;&nbsp;<%= pluralize(@pacsses.uniq.count, 'result') %></h1>
    <% end %>
    <%= render partial: "pacss", collection: @pacsses %>



<% #end %>
