<% #if logged_in? %>

<p id="notice"><%= notice %></p>

<% provide :title, @pacss.pacs_id %>

<p>
  <strong>PACS ID:</strong>
  <%= link_to @pacss.pacs_id, 'https://tcsp.temenos.com/SitePages/RedirectTicket.aspx?PACSID='+@pacss.pacs_id, class: 'badge badge-pill badge-dark p-1' %>
</p>

<p>
  <strong>Bank:</strong>
  <%= @pacss.banka %>
</p>

<p>
  <strong>Title:</strong>
  <%= @pacss.title %>
</p>

<p>
  <strong>Owner:</strong>
  <% begin %>
  <% skype = 'sip:' + @pacss.owner.split(',')[1].strip.downcase + '.' + @pacss.owner.split(',')[0].strip.downcase + '@dxc.com' %>
  <%= link_to @pacss.owner, skype, class: 'badge badge-pill badge-dark p-1' %>
  <% rescue %>
  <%= @pacss.owner %>
  <% end %>
</div>
</p>

<p>
  <strong>Updated:</strong>
  <%= @pacss.last_updated.strftime("%d.%m.%Y") %>
</p>

<% if @pacss.connected != '' %>
  <p>
    <strong>Povezan sa:</strong>
    <% begin %>
    <%= link_to @pacss.connected, @pacsses.find_by(pacs_id:@pacss.connected).id.to_s, class: 'badge badge-pill badge-dark' %>
    <% rescue %>
    <% end %>
  </p>
<% end %>

<% if @pacss.routines != '' %>
  <p>
    <strong>Rutine:</strong>
    <% begin %>
    <%= @pacss.routines %>
    <% rescue %>
    <% end %>
  </p>
<% end %>

<p>
  <strong>Status:</strong>
  <%= @pacss.status %>
</p>

<%= link_to 'Izmeni', edit_pacss_path(@pacss), class: 'badge badge-pill badge-dark' %> |
<%= link_to 'Početna', root_path, class: 'badge badge-pill badge-dark' %>

<br><br>

<div class="p-2 mb-3" style="border:5px ridge black;width:fit-content;background-color:white;">
  <% @stanja.each do |s| %>
    <p>
      <span style="color:#fff;"><%= ['Open', 'New issue logged into RTC support system','Maintenance'].include?(s.stanje) ? '' : '---------- ' %></span>
      <%= s.created_at.strftime("%d.%m.") %> <%= s.stanje %>
    </p>
  <% end %>
</div>

<% if logged_in? %>
  <%= render 'comments/new', pacs: @pacss %>
<% end %>

  <% @pacss.comments.order(created_at: :desc).each do |komentar| %>
  <div>
    <%= render komentar %>
  </div>
  <% end %>

<% #end %>