<%= form_for([ @pacss, Comment.new ], remote: true) do |form| %>
    <%= form.text_area :body, size: '50x10', autofocus: true %><br>
    <%= form.hidden_field :uneo, :value => current_user.username %>
    <%= form.submit "Sačuvaj", class: 'btn btn-dark' %>
<% end %>
