/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

a {
   text-decoration: none;
   color: #fff;
}

a:visited {
    color: #fff;
}

a:hover {
    // background-color: #D6DBDF;
    color: #f00;
    background-color: inherit;
    text-decoration: none;
}

body {
    color: #000;
    background-color: #eee;
    padding-top: 40px;
    margin: 10px;
}

pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    /*background-color: #272727;*/
}

#batn {
    border: solid 0.1em #000;
    border-radius: 1em;
    padding: 0.7em;
}
