// Place all the styles related to the pacsses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.Closed {
    color: #999;
}

.Open {
    font-weight: bold;
}

.comment {
    color: #f0e68c;
    font-family: 'Courier New';
    font-size: 12px;
}

#comments {
    // color: #000;
    color: #ddd;
    max-width: 700px;
    padding: 30px;
    margin: 20px;
    // background-color: #f0e68c;
    background-color: #333;
    font-family: 'Ubuntu', sans-serif;
    // font-size: 16px;
}

table {
    margin: 20px;
}


button {
    border-radius: 20px;
    padding: 10px;
    background-color: #272727;
    min-width: 200px;
}

.owner {
    // color: white;
    font-family: 'Courier New';
}

.owner_open {
    // color: white;
    font-family: 'Courier New';
    font-weight: bold;
    font-size: 1.1em;
}

.rutina {
    background-color: #ff8c00;
    color: #088;
}
